system-view
sysname S1R1

interface GigabitEthernet 1/0
ip address 10.255.11.1 24
exit

interface GigabitEthernet 2/0
ip address 172.17.1.1 24
exit

interface Loopback 0
ip address 1.1.1.1 32
exit

bgp 65010
router-id 1.1.1.1
peer 2.2.2.2 as-number 65010
Address-family ipv4
peer 2.2.2.2 enable
exit
peer 10.255.11.254 as-number 65001
Address-family ipv4
peer 10.255.11.254 enable
exit
peer 10.255.11.254 password simple Password1.
exit

ospf 1 router-id 1.1.1.1
area 0
network 1.1.1.1 0.0.0.0
network 172.17.1.0 0.0.0.255
network 10.255.11.0 0.0.0.255
exit
exit

bgp 65010
add ipv4
network 172.17.1.0 24
exit
exit

ospf 1 
import-route bgp 
exit