system-view
sysname S1R2

interface GigabitEthernet 1/0
ip address 10.255.12.2 24
exit

interface GigabitEthernet 2/0
ip address 172.17.1.2 24
exit

interface Loopback 0
ip address 2.2.2.2 32
exit

bgp 65010
router-id 2.2.2.2
peer 1.1.1.1 as-number 65010
Address-family ipv4
peer 1.1.1.1 enable
exit
peer 10.255.12.254 as-number 65002
Address-family ipv4
peer 10.255.12.254 enable
exit
peer 10.255.12.254 password simple Password1.
exit

ospf 1 router-id 2.2.2.2
area 0
network 2.2.2.2 0.0.0.0
network 172.17.1.0 0.0.0.255
network 10.255.12.0 0.0.0.255
exit
exit

bgp 65010
add ipv4
network 172.17.1.0 24
exit
exit

ospf 1 
import-route bgp 
exit