system-view
sysname S2R1

interface GigabitEthernet 1/0
ip address 10.255.22.4 24
exit

interface GigabitEthernet 2/0
ip address 172.17.2.4 24
exit

interface Loopback 0
ip address 4.4.4.4 32
exit

bgp 65020
router-id 4.4.4.4
peer 3.3.3.3 as-number 65020
Address-family ipv4
peer 3.3.3.3 enable
exit
peer 10.255.22.254 as-number 65002
Address-family ipv4
peer 10.255.22.254 enable
exit
peer 10.255.22.254 password simple Password1.
exit

ospf 1 router-id 4.4.4.4
area 0
network 4.4.4.4 0.0.0.0
network 172.17.2.0 0.0.0.255
network 10.255.22.0 0.0.0.255
exit
exit

bgp 65020
add ipv4
network 172.17.2.0 24
exit
exit

ospf 1 
import-route bgp 
exit
